# Hetzner Cloud API Token
hcloud_token = ""

# AWS credentials for Route 53
aws_region = "us-east-1" # Example region
aws_access_key = ""
aws_secret_key = ""
route53_zone_id = ""

# Public Key to access OKD4 nodes
public_key_path = "~/.ssh/id_rsa.pub"
private_key_path = "~/.ssh/id_rsa"

# OKD4 Domain
base_domain = "deploy-it.ch"
cluster_name = "openshift"

# Region
# Possible values:
# nbg1 - Nuremberg, Germany
# fsn1 - Falkenstein, Germany
# hel1 - Helsinki, Finland
region = "fsn1"

# Ignition settings - can be disabled after installation/might be needed to add new workers
ignition_enabled = true

# OpenShift installer directory - needs to end with a "/"
openshift_installer_dir = "~/okd4/installer/"

# Fedora CoreOS installer files
# These links provide the necessary components to set up Fedora CoreOS.
# Make sure you have the latest versions based on your deployment needs.
fcos_installer_initramfs = "https://builds.coreos.fedoraproject.org/prod/streams/stable/builds/32.20201018.3.0/x86_64/fedora-coreos-32.20201018.3.0-live-initramfs.x86_64.img"
fcos_installer_kernel = "https://builds.coreos.fedoraproject.org/prod/streams/stable/builds/32.20201018.3.0/x86_64/fedora-coreos-32.20201018.3.0-live-kernel-x86_64"
fcos_metal_bios = "https://builds.coreos.fedoraproject.org/prod/streams/stable/builds/32.20201018.3.0/x86_64/fedora-coreos-32.20201018.3.0-metal.x86_64.raw.xz"
fcos_rootfs = "https://builds.coreos.fedoraproject.org/prod/streams/stable/builds/32.20201018.3.0/x86_64/fedora-coreos-32.20201018.3.0-live-rootfs.x86_64.img"

# Bootstrap settings - can be disabled after installation
bootstrap_enabled = true
bootstrap_server_type = "cx41"

# Master settings (smaller than cx41 doesn't work)
master_server_type = "cx41"

# Worker settings (might be cx31)
worker_server_type = "cx41"
worker_count = 3
worker_storage_enabled = false # Enable worker storage to attach a hcloud disk
worker_storage_size = 100 # In GiB

# Additional subdomains (e.g. subdomain.<base-domain>) as a wildcard entry for <base_domain> result in an unusable cluster
subdomains = []
